.instructions {
  background-color: #fdf8f2; /* very light background */
  padding: 15px 20px;
  border-left: 6px solid #015684; /* Catalyst border for emphasis */
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #0E2638; /* Dark Indigo text */
}

.instructions span.mandatory {
  background-color: #FFA500; /* orange highlight */
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: 500;
}

.instructions span.person-only {
  background-color: #28a745; /* green highlight */
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: 500;
}

.instructions span.common {
  background-color: #fff; /* white */
  color: #0E2638;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: 500;
}
